.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


.main-catalogue1 .card-main {
    background: rgb(249, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
